/*.ng-enter {
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  opacity: 0;
  margin-top: 10px;
}
.ng-enter.ng-enter-active {
  opacity: 1;
  margin-top: 0px;
}*/

.ng-enter {
    -webkit-transition: 0.5s ease all; 
    -webkit-transition: 0.5s ease all;    
    -moz-transition: 0.5s ease all;
 
    -ms-transition-property: background, color; 
    -ms-transition-duration: 0.5s;               
    -o-transition-property: background, color; 
 
    -o-transition: 0.5s ease all;
    transition: 0.5s ease all;

    opacity: 0;
    margin-top: 10px;
}
 
.ng-enter.ng-enter-active {
    opacity: 1;
    margin-top: 0px;
}

@mixin animation-ease( $time ) {
    -webkit-transition: all $time ease;
    -moz-transition:    all $time ease;
    -ms-transition:     all $time ease;
    -o-transition:      all $time ease;
}

@mixin no-animation() {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
