$bodyBackground: #222;
$textColor: white;
$inactiveText: #999;
$activeBackground: black;

@font-face {
    font-family: Berry;
    src: url("fonts/Berry Rotunda.eot"); /* for IE */
}

@font-face {
    font-family: Berry;
    src: url("fonts/Berry Rotunda.ttf");
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/woodTex2.jpg");
	height: 100%;
	font-family: Helvetica, Sans-Serif;
}

h1, h2, h3 {
	font-family: Berry, Helvetica, Sans-Serif;
}

.container {
	background: $bodyBackground;
	color: $textColor;
	border: 1px solid black;
	padding-left: 0px;
	padding-right: 0px;
	box-shadow: 0px 0px 30px 5px black;
	-webkit-box-shadow: 0px 0px 30px 5px black;
	-moz-box-shadow: 0px 0px 30px 5px black;
	-ms-box-shadow: 0px 0px 30px 5px black;
}

.content-container {
	padding: 5px 15px;
}

#flowerImg {
	display: none;
}

@media (min-width: 768px) {

	.navbar-default,
	.navbar-inverse {
		border-radius: 0px;
		background-color: transparent;
		border-color: transparent;
		margin-bottom: 0px;
	}

	.navbar-nav {
		width: 100%;
		text-align: center;
		> li {
			float: none;
			display: inline-block;
		}
	}

	#menu {
		position: relative;
		//top: -15px;
		> li {
			> a {
				font-family: Berry, Helvetica, Sans-Serif;
				background-image: url("../img/cartelloB3.png");
				background-repeat: no-repeat;
			    height: 80px;
			    width: 110px;
			    font-size: 15px;
			    color: $inactiveText;
			    line-height: 50px;
			    text-align: center;
			    margin: 0px 4px;
			}

			&.active > a {
				color: $textColor;
				text-shadow: 0px 0px 10px white;
				background-color: transparent;
			}
		}
	}

	#language-selection {
		position: absolute;
	    top: -82px;
	    right: 0px;
	}

	#flowerImg {
		position: absolute;
	    top: -30px;
	    left: 50%;
	    display: block;
	    margin-left: -400px;
	}
}

.table > tbody > tr.active > td {
	background-color: $activeBackground;
}

.item-thumbnail {
	width: 200px;
}

.language-flag {
	vertical-align: initial;
}

.btn-language {
	color: $textColor;
    background-color: $bodyBackground;
    border-color: transparent;
}

#language-container {
	position: relative;
}

#language-selection {
    float: right;
}

.dropdown-menu {
	> li > a {
		cursor: pointer;
		color: $textColor;
	}
	> .active > a {
		&, &:focus, &:hover {
			background-color: $bodyBackground;
		}
		&:after {
			font-family: FontAwesome;
   			content: "\f00c";
		}
	}

	background-color: $bodyBackground;
	border: 1px solid white;
}

.dropdown-toggle {
	&:hover, &:focus {
		background-color: $bodyBackground;
		color: $textColor;
	}
}

.btn-default.active.focus,
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
	background-color: $bodyBackground;
	color: $textColor;
}

#timetable-container {
	background-image: url("../img/clock.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 120px auto;
}
