body {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/woodTex2.jpg");
	height: 100%;
}

.container {
	background: oldlace;
	border: 2px solid black;
	padding-left: 0px;
	padding-right: 0px;
}

.content-container {
	padding: 5px 15px;
}

.navbar {
	border-radius: 0px;
}

.item-thumbnail {
	width: 200px;
}

.language-flag {
	vertical-align: initial;
}