// Variables
$bodyBackground: #222;
$textColor: #eee;
$linkColor: #e8743b;
$linkColorHover: #ff5300;
$highlightColor: #191919;
$highlightColorLight: #191919;
$borderColor: #ddd;
$borderColorDark: #333;
$boxShadowColor: #000;
$boxShadowColorLight: #121212;
$oddRowColor: #1d1d1d;
$titleFont: NoirEtBlanc;
$bioIcon: '../img/bio.png';
$bioIconSm: '../img/bio-sm.png';
$coursesLogo: '../app/content/courses/img/coursesLogo2.png';

// Background paths
$pressingBgOpa: '../app/content/services/img/pressingBgOpa.png';
$pressingBg: '../app/content/services/img/pressingBg.png';
$deliveryCenterBgOpa: '../app/content/services/img/deliveryCenterBgOpa.png';
$deliveryCenterBg: '../app/content/services/img/deliveryCenterBg.png';
$pressPointBgOpa: '../app/content/services/img/pressPointBgOpa.png';
$pressPointBg: '../app/content/services/img/pressPointBg.png';
$massageBgOpa: '../app/content/services/img/massageBgOpa.png';
$massageBg: '../app/content/services/img/massageBg.png';



@font-face {
    font-family: $titleFont;
    src: url("../fonts/Noir-et-Blanc-edited.eot"); /* for IE */
}

@font-face {
    font-family: $titleFont;
    src: url("../fonts/Noir-et-Blanc-edited.ttf");
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/woodTex2.jpg");
	height: 100%;
	font-family: Helvetica, Sans-Serif;
}

h4 {
	font-family: $titleFont, Helvetica, Sans-Serif;
}

h1, h2, h3 {
	@extend h4;
	text-shadow: 0px 0px 8px orange;
}

a {
	color: $linkColor;
	&:focus, &:hover {
		color: $linkColorHover;
		text-decoration: none;
	}
}

.table {
	margin-bottom: 0px;
	> tbody {
		> tr {
			> td {
				border-color: $borderColorDark;
			}
		}
	}
}

.no-shadow {
	text-shadow: none !important;
}

.no-padding {
	padding: 0px !important;
}

.no-border-top {
	border-top: 0px !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: $oddRowColor;
}

.container {
	background: $bodyBackground;
	color: $textColor;
	border: 1px solid black;
	padding-left: 0px;
	padding-right: 0px;
	box-shadow: 0px 0px 30px 5px black;
	-webkit-box-shadow: 0px 0px 30px 5px black;
	-moz-box-shadow: 0px 0px 30px 5px black;
	-ms-box-shadow: 0px 0px 30px 5px black;
}

.content-container {
	padding: 5px 15px;
	min-height: 500px;
}

#flowerImg {
	display: none;
}

@media (min-width: 768px) {

	.navbar-default,
	.navbar-inverse {
		border-radius: 0px;
		background-color: transparent;
		border-color: transparent;
		margin-bottom: 0px;
	}

	.navbar-nav {
		width: 100%;
		text-align: center;
		> li {
			float: none;
			display: inline-block;
		}
	}

	#menu {
		position: relative;
		> li {
			> a {
				font-family: $titleFont, Helvetica, Sans-Serif;
				background-image: url("../img/cartelloB3.png");
				background-repeat: no-repeat;
			    height: 80px;
			    width: 110px;
			    font-size: 20px;
			    color: $linkColor;
			    line-height: 50px;
			    text-align: center;
			    margin: 0px 4px;
			    &:hover {
			    	text-shadow: 0px 0px 8px;
			    }
			}

			&.active > a {
				color: $textColor;
				text-shadow: 0px 0px 10px white;
				background-color: transparent;
			}
		}
	}

	#flowerImg {
		position: absolute;
	    top: -30px;
	    left: 50%;
	    display: block;
	    margin-left: -400px;
	}

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: $highlightColorLight;
}

.table > tbody > tr.active > td {
	background-color: $highlightColor;
}

.item-thumbnail {
	width: 200px;
}

.item-thumbnail-sm {
	width: 100px;
	max-height: 80px;
}



.btn-default {
	@include animation-ease( 0.3s );
    &, &.disabled:hover {
    	color: $textColor;
    	background-color: $bodyBackground;
    }
    &:focus, &:hover, &.active, &:active {
    	@extend .btn-default;
    	background-color: $highlightColorLight;
    	border-color: $borderColorDark;
    }
}

.dropdown-toggle {
	&:hover, &:focus {
		background-color: $bodyBackground;
		border-color: $borderColorDark;
		color: $textColor;
	}
}

.open > .dropdown-toggle.btn-default {
	@extend .btn-default.active;
}

.dropdown-menu {
	> li > a {
		@include animation-ease( 0.3s );
		cursor: pointer;
		color: $textColor;
		&:focus, &:hover {
			background-color: $highlightColorLight;
			color: $textColor;
		}
	}
	> .active > a {
		&, &:focus, &:hover {
			background-color: $bodyBackground;
		}
		&:after {
			font-family: FontAwesome;
   			content: "\f00c";
		}
	}
	background-color: $bodyBackground;
	box-shadow: 0px 2px 8px $boxShadowColor;
	border: 1px solid $borderColorDark;
}

.dropdown .dropdown-menu{
    display: block;
    opacity: 0;
    > li > a {
    	cursor: default;
    }
    @include animation-ease( 0.4s );
}
.dropdown.open {
	.dropdown-menu {
	    display: block;
	    opacity: 1;
	    > li > a {
	    	cursor: pointer;
		}
	}
}

.btn-default.active.focus,
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
	background-color: $bodyBackground;
	color: $textColor;
}

.orangeBold {
	color: $linkColor;
	font-weight: bold;
}

.orange {
	color: $linkColor;
} 

.hidden {
	display: none;
}

.artist-img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.text-box {
	border-radius: 3px;
	border: 1px solid $borderColorDark;
    padding: 15px;
    box-shadow: 0px 2px 8px $boxShadowColor;
}


// language selection -----------------------------------------

#language-selection {
	position: absolute;
    top: -82px;
    right: 0px;
}

@media (max-width: 991px) {
	#language-selection {
	    top: 0px;
	}
}

.language-flag {
	vertical-align: initial;
}

.btn-language {
    border-color: transparent;
}

#language-container {
	position: relative;
}

#language-selection {
    float: right;
}



// contacts ----------------------------------------------------

address .fa {
	font-size: 18px;
}



// time table ---------------------------------------------------

#timetable-container {
	background-image: url("../img/clockOpa.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 150px auto;
    tr {
    	text-shadow: 0px 0px 4px black;
    }
}

.time-table {
	tr:first-child {
		> td {
			border-color: transparent;
		}
	}
}





// products ----------------------------------------------------

// Hide popovers on small screens
@media (max-width: 991px) {
	[uib-popover-popup].popover, [uib-popover-html-popup].popover, [uib-popover-template-popup].popover {
		display: none !important;
	}
}

.panel {
	background-color: $bodyBackground;
	box-shadow: 0px 3px 8px black;
	.panel-body.category-body {
		padding: 0px;
	}
}

.panel-default {
	border-color: $borderColorDark;
	.panel-heading {
		background-color: $highlightColor;
		border-color: $borderColorDark;
		color: white;
		height: 70px;
		line-height: 50px;
		text-shadow: 0px 0px 2px black;
		.category-img {
			height: 50px;
		}
	}
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: $borderColorDark;
}

.panel-group .panel+.panel {
	margin-top: 10px;
}

.product {
	padding: 10px;
	max-height: 100px;
	height: 100px;
	cursor: pointer;
	overflow: hidden;
	line-height: 21px;
	&:hover {
		background-color: $highlightColorLight;
		@include animation-ease( 0.4s );
	}
}

.popover {
	box-shadow: 0px 0px 30px 3px black;
	background-color: $bodyBackground;
	border: 1px solid $borderColorDark;
	border-radius: 3px;
	max-width: 500px;
	min-width: 400px;
	.popover-title {
		background-color: $highlightColor;
		border-color: $borderColorDark;
		font-size: 20px;
	}
	img {
		width: 100%;
	}
}

.img-container {
	position: relative;
	&.bio:after {
		content: url( $bioIcon );
		position: absolute;
		top: 0px;
		right: 0px;
	}
	&.bio-sm:after {
		@extend .img-container.bio:after;
		content: url( $bioIconSm );
	}
}


// services -----------------------------------------------------

.nav-pills {
	> li {
		&.active >a {
			&, &:focus, &:hover {
				background-color: $bodyBackground;
				color: $linkColor;
				border-bottom: 2px solid $linkColorHover;
				border-radius: 0px;
			}
		}
		> a {
			@include animation-ease( 0.3s );
			border: 2px solid transparent;
			border-radius: 0px;
			&:hover {
				background-color: $bodyBackground;
				border-bottom: 2px solid $borderColorDark;
			}
		}
	}
}

.nav-justified {
	width: 50%;
	margin: 0px auto 10px;
}

.nav-pills {
	margin-bottom: 20px;
}

.nav {
	> li {
		> a {
			&:focus, &:hover {
				background-color: $bodyBackground;
			}
		}
	}
}

.panel-heading-services {
	padding: 0px;
}

@mixin accordion-heading-toggle( $bgUrl, $bgUrlActive, $right, $top ) {
	.service-toggle {
   		background-image: url( $bgUrl );
		background-repeat: no-repeat;
		background-position: right $right top $top;
   		&:hover, &:focus {
			background-image: url( $bgUrlActive );
		}
	}
	&.panel-open {
		.service-toggle {
			text-shadow: 0px 0px 10px white;
			background-image: url( $bgUrlActive );
			background-position: right 50% top $top;
		}
	}
}

@mixin panel-heading-hover() {
	&:hover, &:focus {
		text-shadow: 0px 0px 10px white;
    	box-shadow: inset 0px 0px 10px white;
	}
}

.service-toggle {
	@extend h3;
	@include animation-ease( 0.3s );
	@include panel-heading-hover();
	height: 100%;
	font-size: 24px;
	padding: 10px 15px;
	.chevron {
		line-height: 50px;
	}
}

.panel-pressing {
	@include accordion-heading-toggle( $pressingBgOpa, $pressingBg, 30px, 0px );
}
.panel-delivery {
	@include accordion-heading-toggle( $deliveryCenterBgOpa, $deliveryCenterBg, 70px, -15px );
}
.panel-press {
	@include accordion-heading-toggle( $pressPointBgOpa, $pressPointBg, 50px, -15px );
}
.panel-massage {
	@include accordion-heading-toggle( $massageBgOpa, $massageBg, 50px, -15px );
}


// Monthly artist

.artist-header {
	border-radius: 3px;
	margin-bottom: 20px;
}



// Courses

.img-course {
	width: 100%;
}

.courses-container {
	background: url( $coursesLogo );
	background-repeat: no-repeat;
	background-position: right 20px top 10px;
	background-size: 110px;
}



// Masonry

.masonry-brick {
	display: none;
}

.loaded {
	display: block;
}