<div class="text-box">
	<div data-ng-if="!noArtist"> 
		<div class="text-center artist-header">
			<h3 class="no-shadow">{{ current.name }}</h3>
			<p data-ng-repeat="link in current.links">
				<a href="{{ link }}" target="_blank">{{ link }}</a>
			</p>
		</div>
		<p data-translate="monthlyArtist.{{ current.id }}.description"
		   data-translate-default=""></p>
		<div class="text-center">
			<img data-ng-if="current.img" class="artist-img img-thumbnail" data-ng-src="{{ current.img }}" />
		</div>
	</div>

	<div data-ng-if="noArtist">
		<p data-translate="monthlyArtist.noArtist"></p>
	</div>
</div>