<div class="content-container">
	
	<div class="row">
		
		<div class="col-md-8">
			<h2 data-translate="menu.home"></h2>
			<div class="text-box" data-translate="texts.home"></div>

			<h2 data-translate="courses.title"></h2>
			<div data-courses></div>
		</div>

		<div class="col-md-4">
			
			<div id="timetable-container">
				<h2 data-translate="timetable"></h2>
				<div data-timetable></div>
			</div>

			

			<h2 data-translate="monthlyArtist.title"></h2>
			<div monthly-artist></div>

		</div>

	
	</div>

</div>





