<div class="content-container">

	<h1 data-translate="menu.services"></h1>
	
	<!--<div data-pressing></div>-->

	<uib-accordion>
		
		<div uib-accordion-group class="panel-default" is-open="true">
			<uib-accordion-heading>
				<h3>Pressing</h3>
			</uib-accordion-heading>
			<div data-pressing></div>
		</div>

		<div uib-accordion-group class="panel-default">
			<uib-accordion-heading>
				<h3>Relais Colis</h3>
			</uib-accordion-heading>
			<div class="row">
				<div class="col-md-2">
					<img src="app/content/services/img/logoRelaisColis.jpg" />
				</div>
				<div class="col-md-10">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
				</div>	
			</div>
		</div>

		<div uib-accordion-group class="panel-default">
			<uib-accordion-heading>
				<h3>Quotidien</h3>
			</uib-accordion-heading>
			Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
		</div>

	</uib-accordion>

</div>