<div class="content-container">

	<img class="hidden" src="app/content/services/img/pressingBg.png" />
	<img class="hidden" src="app/content/services/img/deliveryCenterBg.png" />
	<img class="hidden" src="app/content/services/img/pressPointBg.png" />
	<img class="hidden" src="app/content/services/img/massageBg.png" />

	<h1 data-translate="menu.services"></h1>

	<div data-ng-controller="serviceAccordionController">
		<uib-accordion>
			
			<div uib-accordion-group
				 class="panel-default panel-pressing"
				 template-url="app/tpl/accordion-group.tpl.html"
				 is-open="open.laundry">
				<uib-accordion-heading>
					{{ 'services.laundryService.name' | translate }}
					<i class="pull-right fa fa-x2 chevron" data-ng-class="{ 'fa-chevron-right': !open.laundry, 'fa-chevron-down': open.laundry }"></i>
				</uib-accordion-heading>
				<div data-pressing></div>
			</div>

			<div uib-accordion-group
				 class="panel-default panel-delivery"
				 template-url="app/tpl/accordion-group.tpl.html"
				 is-open="open.delivery">
				<uib-accordion-heading>
					{{ 'services.deliveryCenter.name' | translate }}
					<i class="pull-right fa fa-x2 chevron" data-ng-class="{ 'fa-chevron-right': !open.delivery, 'fa-chevron-down': open.delivery }"></i>
				</uib-accordion-heading>
				<div data-delivery-center></div>
			</div>

			<div uib-accordion-group
				 class="panel-default panel-press"
				 template-url="app/tpl/accordion-group.tpl.html"
				 is-open="open.press">
				<uib-accordion-heading>
					{{ 'services.pressPoint.name' | translate }}
					<i class="pull-right fa fa-x2 chevron" data-ng-class="{ 'fa-chevron-right': !open.press, 'fa-chevron-down': open.press }"></i>
				</uib-accordion-heading>
				<div data-press-point></div>
			</div>

			<div uib-accordion-group
				 class="panel-default panel-massage"
				 template-url="app/tpl/accordion-group.tpl.html"
				 is-open="open.massage">
				<uib-accordion-heading>
					{{ 'services.massage.name' | translate }}
					<i class="pull-right fa fa-x2 chevron" data-ng-class="{ 'fa-chevron-right': !open.massage, 'fa-chevron-down': open.massage }"></i>
				</uib-accordion-heading>
				<div data-massage></div>
			</div>

		</uib-accordion>
	</div>
</div>