<div class="row">
	<div data-ng-repeat="c in categories track by c.id" class="category-container col-lg-4 col-md-6 col-sm-12">
		
			<div class="panel panel-default">
				<div class="panel-heading" ng-style="getStyle( c );">
					<h3 data-translate="productCategories.{{ c.id }}.name"></h3>
				</div>

				<div class="panel-body category-body">
					<div data-ng-repeat="p in c.products track by p.id" class="product"
						 ng-click="updatePopoverContent( p )"
						 popover-title="{{ getId( p.id, 'name' ) | translate }}"
						 uib-popover-html="popover.content"
						 popover-placement="auto right"
						 popover-trigger="'outsideClick'">
						<div class="media-left">
							<img class="pull-left media-object img-thumbnail item-thumbnail-sm"
								 data-ng-src="{{ p.img }}"
								 data-ng-alt="{{ getId( p.id, 'imgAlt' ) | translate }}" />
						</div>
						<div class="media-body media-middle">
							<a data-translate="products.{{ p.id }}.name"
							   data-translate-default="{{ p.id }}">
							</a>
							<p data-translate="products.{{ p.id }}.abstract"
							   data-translate-default="">
							</p>
							<h4><em>{{ p.price | currency : '€ ' }}</em></h4>
						</div>
					</div>
				</div>
			</div>

	</div>
</div>