<!DOCTYPE html>

<html>
	<head>
		<title>A Deux Pas du Lavoir</title>
		<meta charset="UTF-8">
		<meta name="description" content="L'Epicerie multi-service de Rodemack">
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/main.css" />

	</head>
	<body data-ng-app="adpdl">
		
		<header>
			<h1 data-translate="site.name"></h1>
			<p data-translate="site.subtitle"></p>
			
			<!-- Language buttons. TODO: change into a directive -->
			<div data-ng-controller="langCtrl" class="pull-right">
				<button class="btn btn-default btn-sm" ng-click="changeLang( 'en' )">English</button>
				<button class="btn btn-default btn-sm" ng-click="changeLang( 'fr' )">French</button>
			</div>

		</header>

		<!-- Nav. TODO: change into a directive -->
		<nav>
			<a href="#/home" data-translate="menu.home"></a> |
			<a href="#/products" data-translate="menu.products"></a> |
			<a href="#/services" data-translate="menu.services"></a> |
			<a href="#/contacts" data-translate="menu.contacts"></a>
		</nav>

		<content data-ng-view></content>

		<footer>
			<p class="text-center" data-translate="footer.text"></p>
		</footer>

	</body>

	<script type="text/javascript" src="app/dependencies.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
</html>